:root{
  --primaryColor: #ffff00;
  --textColor:  #212f3d;
  --mainTransition: all .3s ease-in-out;
  --mainBack: #d7dbdd;
  --mainShadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR STYLING */
nav{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-links{
  display: flex;
  flex-direction: row;
}
.logo a{
  text-decoration: none;
  color: var(--textColor);
  font-size: 1.5rem;
  font-weight: 300;
}
.nav-link a{
  text-decoration: none;
  padding-right: 1.5rem;
  color: var(--textColor);
}
.action-links a:hover,
.nav-link a:hover{
  color: var(--primaryColor);
  cursor: pointer;
}
.action-links a{
  text-decoration: none;
  padding-right: 1rem;
  color: var(--textColor);
}
.action-links button{
  background-color: var(--primaryColor);
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
}
.action-links button:hover{
  cursor: pointer;
  border: 1px solid var(--primaryColor);
  background: transparent;
  transition: var(--mainTransition);
}
.toggler{
  position: absolute;
  z-index: 3;
  right: 40px; 
  top: 40px;
  cursor: pointer;
  transition: var(--transitionAll);
  display: none;
}
.btn-line{
  width: 40px;
  height: 4px;
  margin: 0 0 5px 0;
  background: var(--textColor);
  transition: var(--mainTransition);
}
.close .btn-line:nth-child(1){
  transform: rotate(45deg) translate(5px, 5px);
}
.close .btn-line:nth-child(2){
  opacity: 0;
}
.close .btn-line:nth-child(3){
  transform: rotate(-45deg) translate(7px ,-8px);
}
/* END NAVBAR STYLING */

/* HEADER STYLING */
.header{
  margin: 0 5rem;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.landing-text{
  grid-column: 1 / span 4;
  grid-row: 2 / span 2;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.cta p{
  font-size: 4rem;
  font-weight: 500;
}
.landing-image{
  grid-column: 2 / span 8;
  grid-row: 1 / span 6;
  background-color: brown;
}
.landing-image img{
  width: 100%;
  height: 100%;
}
.contact-info{
  grid-column: 5 / span 8;
  grid-row: 6 / span 6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primaryColor);
}
.contact-info > div p{
  font-size: 1.5rem;
}
.contact-info > div i{
  color: #fff;
  font-size: 2rem;
  padding-right: 1rem;
}
.search-bar{
  display: flex;
  width: 100%;
  height: 60px;
}
.search-bar input{
  width: 60%;
  border: none;
}
.search-bar button{
  width: 20%;
  background: var(--primaryColor);
  border: none;
  border-radius: 0 5px 5px 0;
}
/* END HEADER STYLING */


/* ABOUT STYLING */
.about{
  margin: 7rem 4rem;
  display: flex;
  justify-content: space-around;
}
.company{
  width: 50%;
  margin-right: 2rem;
}
.company .heading{
  font-size: 4rem;
  padding-bottom: 2rem;
}
.company p{
  font-size: 1.3rem;
}
.stats{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 50%;
}
.apartments,
.awards,
.clients,
.employees{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--mainBack);
  width: 250px;
  height: 250px;
}
.apartments span,
.awards span,
.clients span,
.employees span{
  color: var(--primaryColor);
  font-size: 3rem;
  font-weight: bold; 
}
.apartments p,
.awards p,
.employees p,
.clients p{
  font-size: 1.5rem;
  font-weight: 500;
}
/* END ABOUT STYLING */

/* APARTMENTS STYLING */
.main-apartment{
  background-color: var(--mainBack);
}
.apartments-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.apartment-heading{
  padding: 2rem 0 2rem 10rem;
  text-align: left;
  position: relative;
  font-size: 3rem;
  font-weight: 500;
}
.single-apartment{
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 400px;
  box-shadow: var(--mainShadow);
}
.apartment-image{
  width: 400px;
  height: 400px;
}
.apartment-image img{
  width: 100%;
  height: 100%;
}
.apartment-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.apartment-details{
  padding: 2rem 0;
}
.apartment-detail{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 2rem;
}
.price{
  color: var(--primaryColor);
  font-size: 1.3rem;
  font-weight: bold;
}
.bath{
  padding-right: 1rem;
}
.apartment-footer{
  display: flex;
  margin: 3rem 0;
}
.search-location{
  display: flex;
  padding: 0 0 0 10rem;
  margin-bottom: 4rem;
  width: 70%;
  height: 70px;
}
.search-location input{
  width: 40%;
  border: none;
  padding: 0 2rem;
}
.search-location button{
  width: 20%;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  background-color: var(--primaryColor);
  border-radius: 0 5px 5px 0;
}
.apartment-btn{
  margin: 0 -5rem 0 0;
  height: 70px;
  font-weight: 400;
  padding: 0 2rem;
  border: none;
  font-size: 1.2rem;
  color: var(--textColor);
  border-radius: 5px;
}
.search-location button:hover,
.apartment-btn:hover{
  cursor: pointer;
}
.apartment-btn:hover{
  background-color: var(--primaryColor);
  transition: var(--mainTransition);
}
/* END APARTMENTS STYLING */

/* WORKS STYLING */
.agents,
.services,
.works{
  margin: 4rem 4rem;
}
.agents-intro,
.services-intro,
.works-intro{
  width: 40%;
  padding: 2rem 0;
}
.agents-text,
.services-text,
.works-text{
  line-height: 1.5rem;
  letter-spacing: 1px;
}
.agents-heading,
.services-heading,
.works-heading{
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 2rem;
}
.works-cards{
  display: flex;  
}
.works-cards .card{
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: var(--mainShadow);
  margin: 0 1rem;
  padding: 1rem;
  height: 500px;
}
.works-cards .card:hover{
  background: var(--primaryColor);
  transition: var(--mainTransition);
}
.works-cards .card h1{
  position: relative;
  font-size: 7rem;
  z-index: -1000;
  top: -6rem;
  left: -3rem;
}
.instructions{
  margin-top: -10rem;
  font-size: 2rem;
  font-weight: 500;
}
.work-text{
  margin-top: -2rem;
  text-align: center;
  line-height: 25px;
}
.works-cards a{
  color: var(--textColor);
}
/* END WORKS STYLING */

/* SERVICES STYLING */
.services-content{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.services-img{
  width: 50%;
}
.services-img img{
  width: 700px;
  height: 750px;
}
.service{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  height: 100%;
  width: 50%;
}
.service-heading{
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
.service-text{
  line-height: 30px;
}
/* END SERVICES STYLING */

/* AGENTS STYLING */
.agents-container{
  margin: 4rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 1rem;
}
.agent{
 width: 400px;
 box-shadow: var(--mainShadow);
}
.agent-img img{
  width: 100%;
}
.agent-details{
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.agent-title{
  color: var(--primaryColor);
  padding: 1rem 1rem;
  font-size: 1.4rem;
}
.agent-name{
  padding: 1rem 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.socials{
  display: flex;
  align-items: center;
}
.socials i{
  padding: 0 1rem;
}
/* END AGENTS STYLING */


/* RESPONSIVE DESIGN */
@media only screen and (max-width: 1200px) {
  .cta p{
    font-size: 3rem;
  }
  .contact-info{
    display: flex;
    flex-direction: column;
  }
  .contact-info > div p{
    font-size: 1rem;
  }
  .contact-info > div i{
    color: #fff;
    font-size: 1.3rem;
    padding-right: 10px;
  }
  /* apartment responsive design */
  .main-apartment{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .apartment-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
   .apartment-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .apartment-btn{
    margin: 0 2rem 1rem 0;
  }
  .search-location{
    width: 100%;
  }
  .works-cards{
    display: flex;  
    flex-direction: column;
    align-items: center;
  }
  .works-cards .card{
    margin: 2rem 0;
    width: 500px;
  }
  .works-intro{
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  /* responsive navbar design */
  nav {
    display: flex;
    justify-content: space-between;
  }
  .logo{
    position: relative;
    left: 40px;
    z-index: 3;
  }
  .toggler{
    display: block;
  }
  .nav-links{
    display: none;
  }
  .show{
    position: absolute;
    background: #fff;
    z-index: 1000;
    top: 100px;
    padding-top: 3rem;
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .show .nav-link{
    margin-bottom: 1rem;
  }
  .show .nav-link a{
    font-size: 1.2rem;
  }
  .action-links{
    display: none;
  }
  .action{
    position: absolute;
    z-index: 1000;
    bottom: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .action button{
    width: 60%;
    margin-top: 1rem;
  }
  /* end navbar responsive design */

  /* header responsive design */
  .contact-info > div i{
    display: none;
  }
  .search-bar{
    display: flex;
    width: 150%;
    height: 70px;
  }
  .search-bar input{
    width: 60%;
  }
  .search-bar button{
    width: 40%;
  }
  /* end header styling */

  /* about responsive design */
   .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
  }
  .company p{
    text-align: center;
    font-size: 1.5rem;
  }
  .company .heading{
    font-size: 2rem;
  }
  .stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
  }
  .apartment-list{
    display: grid;
    grid-template-columns:repeat(1, 1fr)
  }
  .apartment-heading{
    padding: 2rem 0;
    font-size: 2.5rem;
    text-align: center;
  }
  .search-location{
    width: 150%;
    margin-left: 3rem;
  }
}

/* END RESPONSIVE DESIGN*/